$black: #000000;
$white: #ffffff;

$moderate-cyan: #3cb3ab;
$dark-cyan: #147a73;
$dark-gray: #7a7a7a;

$tablet: 43.75rem;
$desktop: 48.625rem;

@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

body {
  min-height: 100vh;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-weight: 700;
}

p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $dark-gray;

  @media only screen and (min-width: $desktop) {
    font-size: 1rem;
    line-height: 1.875rem;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input[type="radio"] {
  display: grid;
  // -webkit-appearance: none;
  place-content: center;
  appearance: none;
  background-color: #fff;
  margin: 0;
  color: rgb(0, 0, 0, 0.15);
  // font: inherit;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 0.75rem 0.75rem hsla(176, 50%, 47%, 1);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="text"]:focus {
  border: none;
}