// reusable components

.button {
  border-radius: 33.5px;
  display: inline-flex;
  //   width: clamp(171px, 45.6vw, 45.6vw);
  justify-content: center;
  align-items: center; //
  font-weight: 700;
  line-height: 20px;
  color: $white;
  text-align: center;
  transition: 0.3s ease-in;
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
}

.card {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 8px;
  // margin: 24px 0 24px; //
}
