/*----------------------------
      layout
 ----------------------------*/

body {
  background: #8080801f;
}

/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 32px 24px;
  position: relative;
  background: url(../images/image-hero-mobile.jpg) no-repeat;
  // background-size: 100%  300px;
  background-size: cover;
  height: 300px;

  &__navigation {
    display: none;
  }

  &__hamburger {
    position: relative;
    border: none;
  }

  &__hamburger-icon,
  &__hamburger-icon:before,
  &__hamburger-icon:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 16px;
    background: $white;
    transition: all 0.4s ease;
    display: block;
  }

  &__hamburger-icon {
    top: 10px;
    right: 0px;
  }

  &__hamburger-icon:before {
    top: -5px;
  }

  &__hamburger-icon:after {
    top: 5px;
  }

  &__hamburger-active &__hamburger-icon {
    transform: rotate(-135deg);
  }

  &__hamburger-active &__hamburger-icon:before,
  &__hamburger-active &__hamburger-icon:after {
    top: 0;
  }

  &__hamburger-active &__hamburger-icon:before {
    transform: rotate(90deg);
  }
}

.header::after {
  background-image: url(../images/image-hero-mobile.jpg);
}

/*----------------------------
      footer section 
----------------------------*/
