/*----------------------------
      layout
 ----------------------------*/

body {
  background: #fafafa;
}

main {
  position: relative;
  top: -58px;
}

/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 32px 24px;
  position: relative;
  background: url(../images/image-hero-mobile.jpg) no-repeat;
  background-size: 100%;
  // background-size: cover;
  height: clamp(236px, 62.9333333333vw, 336px);

  &__navigation {
    display: none;

    @media only screen and (min-width: $tablet) {
      display: block;
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
      color: white;
    }
  }

  &__nav-items {
    @media only screen and (min-width: $tablet) {
      display: flex;
      gap: 32px;
    }
  }

  &__hamburger {
    position: relative;
    border: none;

    @media only screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__hamburger-icon,
  &__hamburger-icon:before,
  &__hamburger-icon:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 16px;
    background: $white;
    transition: all 0.4s ease;
    display: block;
  }

  &__hamburger-icon {
    top: 10px;
    right: 0px;
  }

  &__hamburger-icon:before {
    top: -5px;
  }

  &__hamburger-icon:after {
    top: 5px;
  }

  &__hamburger-active &__hamburger-icon {
    transform: rotate(-135deg);
  }

  &__hamburger-active &__hamburger-icon:before,
  &__hamburger-active &__hamburger-icon:after {
    top: 0;
  }

  &__hamburger-active &__hamburger-icon:before {
    transform: rotate(90deg);
  }
}

.header::after {
  background-image: url(../images/image-hero-mobile.jpg);
}

/*----------------------------
      intro section 
----------------------------*/
.intro {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 8px;
  margin: 0 24px 0;
  padding: 52px 24px 40px;
  // z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo-mc {
    position: absolute;
    top: -28px;
    width: auto;
  }

  &__heading {
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    span {
      display: block;
    }
  }

  &__paragraph {
    text-align: center;
    margin: 16px 0 24px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 9px;
  }

  &__button-cyan {
    background: $moderate-cyan;
    width: clamp(57.0666666667vw, 57.0666666667vw, 57.0666666667vw);
    font-size: 16px;
    padding: 18px 0;
  }

  &__bookmark {
    @media only screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      background: rgba(47, 47, 47, 0.05);
      border-radius: 33.5px;
      width: 174px;
    }
  }

  &__bookmark-txt {
    display: none;

    @media only screen and (min-width: $tablet) {
      display: block;
      font-weight: 700;
      line-height: 20px;
      color: $dark-gray;
      padding-left: 16px;
    }
  }
}

/*----------------------------
      stats section 
----------------------------*/
.stats {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 8px;
  margin: 24px;
  // margin-top: 24px;
  padding: 31px 24px 40px;
  text-align: center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 18px;

    @media only screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }

  @media only screen and (min-width: $tablet) {
    &__container li:not(:last-child) {
      border-right: 1px solid hsla(0, 0%, 0%, 0.15);
      height: 63px;
      padding-right: 42px;
    }
  }

  &__heading {
    font-size: 32px;
    line-height: 39px;
  }

  &__label {
    // margin: 4px 0 21px;
    margin: 4px 0 0;
  }

  &__transition {
    border: none;
    border-top: 1px solid hsla(0, 0%, 0%, 0.15);
    width: clamp(80px, 21.3333333333vw, 21.3333333333vw);

    @media only screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__progress-bar {
    height: 12px;
    background: hsla(0, 0%, 18%, 0.05);
    border-radius: 33.5px;
    margin: 21px 0 0;
  }

  &__pb-value {
    border-radius: 33.5px;
    width: 78.23%; //visual progress doesn't match actual ratio (78.23% rather than 89.9%)
    background: #3cb3ab;
    height: 12px;
  }
}

/*----------------------------
      about section 
----------------------------*/
.about {
  padding: 40px 24px;

  &__paragraph {
    margin: 24px 0 20px;
  }

  &__rewards {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__reward {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 24px;
  }

  &__row {
    @media only screen and (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__reward--mahogany {
    opacity: 0.5;
  }

  &__heading--four {
    font-size: 14px;
    line-height: 17px;
  }

  &__pledge {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: $moderate-cyan;
    margin: 8px 0 24px;

    @media only screen and (min-width: $tablet) {
      margin: 0 0 24px;
    }
  }

  &__row--two {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__items-left {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 24px 0 24px;
  }
  &__quantity {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }

  &__left {
    font-size: 15px;
    line-height: 18px;
    color: $dark-gray;
  }

  &__button {
    background: $moderate-cyan;
    width: clamp(157px, 41.8666666667vw, 41.8666666667vw);
    font-size: 14px;
    padding: 14px 0;
  }

  &__button--mahogany {
    background: #2f2f2f;
    opacity: 0.5;
  }
}
